[submodule "learning/d2l/libs/dlplan"]
	path = learning/d2l/libs/dlplan
	url = https://github.com/rleap-project/dlplan.git
[submodule "learning/d2l/libs/tarski"]
	path = learning/d2l/libs/tarski
	url = git@github.com:drexlerd/tarski.git
[submodule "learning/d2l/libs/scorpion"]
	path = learning/d2l/libs/scorpion
	url = git@github.com:drexlerd/scorpion.git
