antlr4-python3-runtime==4.7.2
cffi==1.15.0
clingo==5.5.1
cycler==0.11.0
./learning/d2l/libs/dlplan
fonttools==4.31.2
importlib-metadata==4.12.0
jsonpickle==2.1.0
kiwisolver==1.4.0
lab==7.0
matplotlib==3.5.1
multipledispatch==0.6.0
numpy==1.21.6
packaging==21.3
Pillow==9.0.1
psutil==5.9.0
pycparser==2.21
pyparsing==3.0.7
python-dateutil==2.8.2
simplejson==3.17.6
six==1.16.0
./learning/d2l/libs/tarski
termcolor==1.1.0
txt2tags==3.7
typing_extensions==4.3.0
zipp==3.8.1
