
# Let's not send the containers dir to prevent the cache from being invalidated upon each modification
# to the Dockerfile
containers/

# Let's also exclude some other large directories
.build/
cmake-build-debug/
*/.idea*
*.bin
test/
workspace/
*.md